@import "bootstrap/dist/css/bootstrap.css";

#navbar {
  width: 100%;
  margin-bottom: 1.5vw;
}

.navbar-brand {
  margin: 0 1.5vw
}

.btn {
  margin: 0 1.5vw;
}

.card {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

.card-body {
  padding: 20px;
}

.list-group-item {
  border: 0;
  border-bottom: 1px solid #ccc;
}

#minimenu {
  display: none;
}

.card-header {
  text-align: center;
}

.card-header a {
  margin: 1vw;
}

footer {
  background-color: #212529;
  width: 100%;
  margin-top: 4rem;
}

footer p {
  text-align: center;
  color: white;
  font-size: smaller;
  padding: 1rem;
}

footer a {
  text-decoration: none;
}

#politica {
  display: block;
  padding:1.5vw;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
}

li:nth-child(5){
  margin-left: 6rem;
}


@media(min-width:768px) {
  #minimenu {
    display: none;
  }

}