@import "bootstrap/dist/css/bootstrap.css";

#politica {
    display: block;
    padding: 1.5vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
}

footer p {
  text-align: center;
  color: white;
  font-size: smaller;
  padding: 1rem;
}

footer a {
  text-decoration: none;
}
