<app-menu></app-menu>
<div class="lista" *ngIf="!listaVacia">
  <ul id="listaOfertas" class="list-group list-group-dark">
    <h1>Mis ofertas</h1>
    <ng-container *ngFor="let empleo of empleos">
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <b>OFERTA: </b><img id="logo" src="{{empleo.logo}}" alt="logo">
            <p>{{empleo.titulo}}</p>
            <p>|</p>
            <p>{{ publicado(empleo.createdAt) }}</p>
          </div>
          <div>
            <button class="btn btn-outline-primary mr-2" (click)="alertaLogin()" routerLink="/detalle/{{empleo.id}}"><i
                  class="far fa-eye"></i>
              Ver</button>
            <button *ngIf="isEmpresa  && !empleo.mostrarCandidatos" class="btn btn-outline-primary mr-2"
              (click)="verCandidatos(empleo)"><i class="far fa-eye"></i>
              Ver Candidatos</button>
            <button class="btn btn-outline-danger mr-2" *ngIf="empleo.mostrarCandidatos"
              (click)="ocultarCandidatos(empleo)"><i
              class="far fa-eye-slash"></i> 
              Ocultar candidatos
            </button>
            <button *ngIf="isEmpresa" class="btn btn-outline-warning mr-2" routerLink="/editar/{{empleo.id}}"><i
                  class="far fa-edit"></i>
              Editar</button>
            <button *ngIf="isEmpresa" class="btn btn-outline-danger" (click)="empleo.id !== undefined && borrar(empleo.id)"><i class="far fa-trash-alt"></i> Eliminar </button>
          </div>
        </div>
        <ng-container *ngIf="empleo.mostrarCandidatos">
          <ul *ngFor="let candidato of getCandidatosArray(empleo.candidatos)">
            <li>
              <iframe [src]="getBase64(candidato)"></iframe>
            </li>
          </ul>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</div>
<div class="container" *ngIf="listaVacia">
  <div class="p-3 mb-2 bg-dark text-white text-center">
    <h2>La lista esta vacia</h2>
  </div>
</div>
