
<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 ">
            <div class="card" style="width: 40rem; ">
                <ul class="list-group list-group-flush">
                    <li class="list-grou-item"><img id="logo" src="{{empleo.logo}}" alt="logo">
                    </li>
                    <li class="list-group-item"><b>Nº de publicación: </b>{{empleo.id}}</li>
                    <li class="list-group-item"><b>Puesto: </b>{{empleo.titulo}}<input type="hidden" class="form-control" id="titulo" name="titulo" [(ngModel)]="empleo.titulo"
                        required></li>
                    <li class="list-group-item"><b>Descripcion: </b>{{empleo.descripcion}}
                        <input type="hidden" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="empleo.descripcion"
                        required></li>
                    <li class="list-group-item"><b>Empresa: </b>{{empleo.empresa}}<input type="hidden" class="form-control" id="empresa" name="empresa" [(ngModel)]="empleo.empresa"
                        required></li>
                    <li class="list-group-item"><b>Ubicacion: </b>{{empleo.ubicacion}}<input type="hidden" class="form-control" id="ubicacion" name="ubicacion"
                        [(ngModel)]="empleo.ubicacion" required></li>
                    <li class="list-group-item"><b>Salario: </b>{{empleo.salario}}€<input type="hidden" class="form-control" id="salario" name="salario" [(ngModel)]="empleo.salario"
                         required></li>
                    <li class="list-group-item"><b>Tipo de Contrato: </b>{{empleo.tipoContrato}}<input type="hidden" class="form-control" id="tipoContrato" name="tipoContrato"
                        [(ngModel)]="empleo.tipoContrato" required></li>
                    <li class="list-group-item"><b>Tipo de Jornada: </b>{{empleo.jornada}}<input type="hidden" class="form-control" id="jornada" name="jornada"
                        [(ngModel)]="empleo.jornada" required></li>
                    <li class="list-group-item"><b>Telefono de contacto: </b>{{empleo.telefono}}<input type="hidden" class="form-control" id="telefono" name="telefono"
                        [(ngModel)]="empleo.telefono" required></li>
                    <li class="list-group-item"><b>E-mail: </b> {{empleo.email}}<input type="hidden" class="form-control" id="email" name="email"
                        [(ngModel)]="empleo.email" required></li>
                    <li class="list-group-item"><b>Publicada: </b> {{ publicado(empleo.createdAt) }}<input type="hidden" class="form-control" id="createdAt" name="createdAt"
                        [(ngModel)]="empleo.createdAt" required></li>
                    <li class="list-group-item" *ngIf="isCandidato">
                        <label for="pdf-upload"><b>Sube tu Currivulum Vitae (PDF): </b></label>
                        <input id="pdf-upload" type="file" accept="application/pdf" (change)="guardarCandidato($event)">
                      </li>
                      <button class="btn btn-outline-success btn-block mt-3 "  *ngIf="isCandidato" (click)="actualizar()"><i
                        class="fas fa-arrow-alt-circle-left" *ngIf="!isCandidato"></i> Subir Curriculum</button>
                        <button class="btn btn-outline-danger btn-block mt-3"*ngIf="!isCandidato" (click)="loginCandidato()"><i class="fas fa-circle-user"></i> Logeate como candidato</button>
                        <button class="btn btn-outline-primary btn-block mt-3" (click)="volver()"><i
                            class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </ul>
            </div>
        </div>
    </div>
</div>