
#buscar, .lista{
    margin: 0 auto;
    width: 70%;
}
#logo{
    max-width: 10vw;
    max-height: 10vw;
}

#buscador{
    display: flex;
    margin: 1.5vw auto;
    padding: 1vw;
    background-color: #212529;
    border-radius: 1vw;
}

#buscador>*{
    margin: 0 0.5vw;
}


#buscador>input{
    width: 60%;
}

#borde{
    border-radius: 3vw;
}
#tablaOfertas {
    border-radius: 10px;
  }

