#tablaOfertas #buscar{
    width: 90%;
    margin: 0 auto;
}
#logo{
    max-width: 10vw;
    max-height: 10vw;
}


#buscar>form{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    
}
