<app-menu></app-menu>
<!-- lista con todos los empleos guardados en la bd -->
<div class="lista" *ngIf="!listaVacia">
  <table id="tablaOfertas" class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Puesto</th>
        <th scope="col">Empresa</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Publicada</th>
        <th scope="col" colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let empleo of empleos">
        <td><img id="logo" src="{{empleo.logo}}" alt="logo"></td>
        <td>{{empleo.titulo}}</td>
        <td>{{empleo.empresa}}</td>
        <td>{{empleo.ubicacion}}</td>
        <td>{{ publicado(empleo.createdAt) }}</td>
        <td><button class="btn btn-outline-primary" (click)="alertaLogin()" routerLink="/detalle/{{empleo.id}}"><i
              class="far fa-eye"></i>
            Ver</button></td>
        <td><button *ngIf="!mostrarCandidatos" class="btn btn-outline-primary" (click)="verCandidatos(empleo)"><i class="far fa-eye"></i>
            Ver Candidatos</button></td>
        <td><button class="btn btn-outline-danger" *ngIf="mostrarCandidatos" (click)="ocultarCandidatos(empleo)"><i class="far fa-trash-alt"></i> Ocultar
            candidatos</button></td>
        <td><button *ngIf="isEmpresa" class="btn btn-outline-warning" routerLink="/editar/{{empleo.id}}"><i
              class="far fa-edit"></i>
            Editar</button></td>
        <td><button *ngIf="isEmpresa" class="btn btn-outline-danger"
            (click)="empleo.id !== undefined && borrar(empleo.id)"><i class="far fa-trash-alt"></i> Eliminar </button>
        </td>
      </tr>

    </tbody>
  </table>
  <div class="container" *ngIf="mostrarCandidatos">
    <div class="col-md-6" *ngFor="let empleo of empleos">
      <table class="candidatos-table" >
        <tr *ngFor="let candidato of getCandidatosArray(empleo.candidatos)">
          <td><iframe [src]="getBase64(candidato)" width="100%" height="500px"></iframe></td>
        </tr>
      </table>
    </div>
  </div>
  

</div>

<!-- Si la lista esta vacia mostrara... -->
<div class="container" *ngIf="listaVacia">
  <div class="p-3 mb-2 bg-dark text-white text-center">
    <h2>La lista esta vacia</h2>
  </div>
</div>
