.form-group{
    color: white;
    width: 70%;
    margin: 1rem auto;
}
.col-md-4{
    background-color: rgb(44, 44, 44);
    padding: 1vw;
    width: 80%;
    margin: 3rem auto;
    border-radius: 1vw;
}
h1{
    color: white;
    font-size: 5rem;
    margin:3rem;
    text-align: center;
}
label{
    margin-bottom: 0.5rem;
}
#boton{
  display: flex;
  justify-content: space-evenly;
}
span{
    color: red;
}